<div class="ui left vertical inverted labeled icon sidebar menu" id="ui-sidebar">
  <a class="item">
    <i class="home icon"></i>
    {{#scroll-to href='#introduction'}} Introduction {{/scroll-to}}
  </a>
</div>

{{yield}}

