.App {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  padding: 4vh;
  background-color: #E6E6E2;
  color: #1F1C2C;
  font-family: 'Crimson Text', serif;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #E6E6E2, #1F1C2C, #E6E6E2);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1em;
}

p {
  display: flex;
}