<div  class="ui vertical segment">
  <div class="ui page stackable grid">
    <div class="column" id="content">
      <div class="ui right aligned grid">
        <div class="sixteen wide column">
          <a href="assets/resume.pdf" download="resume-gregory-alexander-houchens.pdf" class="ui float right">
            <div class="tiny ui labeled icon float right alignment button">
              <i class="download icon"></i>
              Download
            </div>
          </a>
        </div>
      </div>
      <div class="ui raised yellow segment" id="introduction">
        <div class="ui column stackable grid">
          <div class="ui four wide column">
            <img class="ui medium circular image" src="assets/me.png">
          </div>
          <div class="ui left aligned twelve wide column">
            <h1 class="ui header">Gregory Alexander Houchens
              <div class="sub header"> Software Engineer </div>
            </h1>
            <p>Fast results, iterative feedback and well-designed architecture are critical to my development approach. After years of working with and managing other software engineers in high intensity collaboration environments - I have adopted efficient & agile strategies for product development. Solving key software architecture issues is what I do in my free time; it is my passion. I am always looking for opportunities to add value and innovate.</p>
          </div>
        </div>
      </div>
          <div class="ui raised teal segment" id="skills">
            <h2> Skills and Technologies </h2>
            <div class="ui divider"></div>
            <div class="ui stackable grid">
              <div class="eight wide column">
                <h3 class="ui header"> Languages </h3>
                <ul class="ui list">
                  <li>Javascript (ECMAScript 6)</li>
                  <li>PHP</li>
                  <li>SQL</li>
                  <li>JSON</li>
                  <li>Regular Expressions</li>
                  <li>SVG</li>
                  <li>AJAX</li>
                  <li>HTML5</li>
                  <li>CSS3</li>
                </ul>
              </div>
              <div class="seven wide column">
                <h3 class="ui header"> Frameworks & Libraries </h3>
                <ul class="ui list">
                  <li>Ember.js & ember-cli</li>
                  <li>jQuery</li>
                  <li>LESS</li>
                  <li>SASS</li>
                  <li>D3.js</li>
                  <li>Semantic-UI</li>
                  <li>Bootstrap</li>
                </ul>
              </div>
            </div>
            <div class="ui stackable grid">
              <div class="eight wide column">
                <h3 class="ui header"> Databases </h3>
                <ul class="ui list">
                  <li>CouchDB</li>
                  <li>Postgresql</li>
                  <li>MySQL</li>
                  <li>MongoDB</li>
                  <li>Architecture & Administration</li>
                </ul>
              </div>
              <div class="seven wide column">
                <h3 class="ui header"> Platforms & Backend </h3>
                <ul class="ui list">
                  <li>Koa.js</li>
                  <li>Websockets (Socket.io)</li>
                  <li>Node.js</li>
                  <li>Apache</li>
                  <li>Express</li>
                </ul>
              </div>
            </div>
            <div class="ui stackable grid">
              <div class="eight wide column">
                <h3 class="ui header"> Technical Strategy </h3>
                <ul class="ui list">
                  <li>AJAX + Model View Control</li>
                  <li>REST API design & protocol</li>
                  <li>Agile + Test Driven Development + Pair Programming</li>
                  <li>UI/UX Design Architecture</li>
                  <li>Data modeling and DB schema construction (EAV, NoSQL, Relational)</li>
                  <li>Mobile driven and responsive design</li>
                  <li>Use Cases</li>
                </ul>
              </div>
              <div class="seven wide column">
                <h3 class="ui header"> Production Tools </h3>
                <ul class="ui list">
                  <li>Git</li>
                  <li>SVN</li>
                  <li>Sublime Text</li>
                  <li>Vim</li>
                  <li>HuBoard, Waffle.io</li>
                  <li>Linux (Distributions: centOS, Redhat, Fedora, Debian, Ubuntu), Mac OSX</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="ui raised blue segment" id="experience">
            <h2> Professional Experience </h2>
            <div class="ui divider"></div>
            <h3> Intel® Corporation (2013 to present) </h3>
            <div class="sub header"><em>Supplied through Kelly Services OCG (Outsourcing and Consulting Group)</em></div>
            <h5> UI/UX Front-End Software Engineer </h5>
            <ul class="ui list">
              <li>Ember.js + Ember Data + ember-cli web application framework utilized and maintained to latest releases.</li>
              <li>Developed analytics web UI for big data enterprise software (Intel® SAA) concerning monitoring of physical and virtual cloud infrastructure. </li>
              <li>Creation of analytics chart visualizations by developing integrated D3 ember.js addon components.</li>
              <li>Designed interface to handle immense data flow to be made visually digestible in different ways.</li>
              <li>Conformed to REST JSON API specification standards (http://jsonapi.org/)</li>
              <li>Currently developing a full stack web application framework as an ecoysystem of ember-cli add-ons (emphasis: WebSockets, couchDB, ember-cli), for extremely rapid deployment of full stack web applications.</li>

            </ul>

            <h3> Crosby Interactive & U.S. Publishing Inc.  (2009 to 2013) </h3>
            <h5> Full Stack Software Engineer </h5>
            <ul class="ui list">
              <li>Worked on long term, sophisticated, enterprise level MVC framework projects, some of which utilizing AJAX and HTML5 content delivery in a programming team environment.</li>
              <li> Built, extended and was responsible for e-commerce websites using Magento, Sunshop, PHP, XML, Javascript, HTML, AND SASS</li>
              <li>Lead as project manager in a programming team environment that was constantly motivated by strict deadlines.</li>
              <li>Database administration and Linux server administration.</li>
            </ul>

            <h3> Vionic Media (2008 - 2009) </h3>
            <h5> Engineering & Co-founder </h5>
            <ul>
              <li>Installed and managed a video advertising kiosk network within shopping malls.</li>
              <li>Responsible for networking, graphic design, and programming remote content delivery and synchronization to multiple networks.</li>
            </ul>

            <h3> Jacobs Energy (2007) </h3>
            <h5> Web Designer and CMS Administrator </h5>
            <ul>
              <li>Coordinated and modified many Joomla! component and plugin extensions for achieving complex company goals.  </li>
              <li>Managed all design of company websites in multiple projects.</li>
            </ul>
          </div>
          <div class="ui raised purple segment" id="find-me">
            <h2>Find Me On</h2>
            <div class="ui divider"></div>
            <div class="ui four column stackable grid">
              <div class="column">
                <div class="ui fluid card">
                  <div class="content">
                    <div class="header"> <i class="github large icon"></i> Github</div>
                    <div class="description">
                      <a href="https://github.com/ahouchens"> github.com/ahouchens </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="ui fluid card">
                  <div class="content">
                    <div class="header"><i class="mail outline icon"></i> Mail</div>
                    <div class="description">
                      webtechalex@gmail.com
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="ui fluid card">
                  <div class="content">
                    <div class="header"><i class="text telephone outline icon"></i> Phone</div>
                    <div class="description">
                      270.925.8089
                    </div>
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="ui fluid card">
                  <div class="content">
                    <div class="header"> <i class="skype icon"></i>Skype Handle</div>
                    <div class="description">
                      alexhouchens
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>

{{outlet}}
